:root {
  --primary-black-text-color: #303030;
  --primary-white-text-color: #ffffff;
  --secondary-grey-text-color: #9da4bd;
  --secondary-black-text-color: #555555;
  --accent-color: #ff6c00;

  --main-font: 'Open Sans', sans-serif;

  --main-margin-bottom: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
}

/* -----Universal styles----- */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: var(--main-margin-bottom);
}
.title {
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: var(--main-margin-bottom);
}
.aftertitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* -----Header section----- */
header {
  background-color: #6e6862;
}
header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: block;
  margin-right: 130px;
  padding: 32px 0;
}
.header-list {
  display: flex;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-white-text-color);
}
.header-list li + li {
  margin-left: 30px;
}
.header-contacts {
  margin-left: auto;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-white-text-color);
}

.header-btn {
  margin-left: 40px;
  color: var(--primary-white-text-color);
}

/* -----Hero section----- */
.hero {
  background-color: #6e6862;
}
.hero .container {
  display: flex;
}
.hero-list {
  width: 100px;
}
.hero-right {
  padding: 184px 526px 208px 100px;
  flex-grow: 1;
}
.hero-pretitle {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-size: 72px;
  color: var(--primary-white-text-color);
}
.hero-aftertitle {
  color: #9da4bd;
  max-width: 370px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-black-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* -----About section----- */
.about {
  padding: 120px 0;
}
.about .container {
  display: flex;
}
.about-list {
  display: flex;
}
.about-items:not(:last-child) {
  margin-right: 30px;
}
.about-wrap {
  padding-left: 30px;
}
.about-pretitle {
  color: var(--primary-black-text-color);
}
.about-title {
  font-size: 42px;
  color: var(--primary-black-text-color);
}
.about-aftertitle {
  color: #555555;
  margin-bottom: var(--main-margin-bottom);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--primary-black-text-color);
}

/* -----Price section----- */
.price {
  background-color: #6e6862;
  padding: 120px 0;
}
.price-pretitle {
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  font-size: 42px;
  color: var(--primary-white-text-color);
  margin-bottom: 44px;
}
.price-list-wrap {
  display: flex;
  gap: 30px;
}
.price-list {
  border: 1px solid #555555;
  padding: 30px 20px;
  flex-grow: 1;
}
.price-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-margin-bottom);
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-elem {
  color: var(--secondary-grey-text-color);
}
.price-btn {
  color: var(--primary-white-text-color);
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/* -----Achivements section----- */
.achievements {
  padding: 120px 0;
}
.achievements-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}
.achievements-item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
}
.achievements-item:nth-child(2n + 1) {
  margin-right: 30px;
}
.achievements-item:nth-child(2n) {
  margin-top: 30px;
}
.achievements-item > span {
  display: inline-block;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-black-text-color);
}
.achievements-item > sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.achievements-item > p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-black-text-color);
}
.achievements-pretitle {
  color: var(--primary-black-text-color);
}
.achievements-title {
  font-size: 42px;
  color: var(--primary-black-text-color);
}
.achievements-aftertitle {
  color: var(--secondary-black-text-color);
}

/* -----Our burbers section----- */
.barbers {
  padding: 120px 0;
}
.barbers-pretitle {
  color: var(--primary-black-text-color);
}
.barbers-title {
  font-size: 42px;
  color: var(--primary-black-text-color);
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
}
.barbers-item {
  flex-basis: calc((100% - 60px) / 3);
}
.barbers-item:not(:last-child) {
  margin-right: 30px;
}
.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-black-text-color);
  margin-top: 30px;
  margin-bottom: 8px;
}
.barbers-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -----Gallery section----- */
.gallery {
  padding: 120px 0;
}
.gallery-pretitle {
  color: var(--primary-black-text-color);
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
}
.gallery-item {
  width: calc((100%-90px) / 4);
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}

/* -----Form section----- */
.form {
  background-color: #6e6862;
}
.form-title {
  font-size: 42px;
  color: var(--primary-white-text-color);
}

/* -----Contacts section----- */
.contacts {
  background-color: #6e6862;
}
.contacts-title {
  font-size: 42px;
  color: var(--primary-white-text-color);
}
.contacts-link {
  font-style: normal;
  color: var(--secondary-grey-text-color);
}
.contacts-addresslink {
  font-style: normal;
  font-weight: 700;
  color: var(--secondary-grey-text-color);
}
.contacts-pretitle {
  color: var(--primary-white-text-color);
}
.contacts-aftertitle {
  color: var(--secondary-grey-text-color);
}

/* -----Footer section----- */
.footer {
  padding: 56px 0;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-grey-text-color);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-black-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
